<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>借款子账户</string>
		<key>open</key>
		<false/>
		<key>subMenus</key>
		<array>
			<dict>
				<key>name</key>
				<string>借款账单</string>
				<key>icon</key>
				<string>menu_collection_00</string>
				<key>blackIcon</key>
				<string>order_icon_001</string>
				<key>className</key>
				<string>BorrowingBillViewController</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>审核中</string>
				<key>icon</key>
				<string>menu_collection_01</string>
				<key>className</key>
				<string>AuditingViewController</string>
				<key>blackIcon</key>
				<string>order_icon_002</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>招标中</string>
				<key>icon</key>
				<string>menu_collection_02</string>
				<key>className</key>
				<string>TenderViewController</string>
				<key>blackIcon</key>
				<string>order_icon_003</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>还款中</string>
				<key>icon</key>
				<string>menu_collection_03</string>
				<key>className</key>
				<string>PaymentViewController</string>
				<key>blackIcon</key>
				<string>order_icon_004</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>已成功</string>
				<key>icon</key>
				<string>menu_collection_04</string>
				<key>className</key>
				<string>SuccessfullyViewController</string>
				<key>blackIcon</key>
				<string>order_icon_005</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>理财子账户</string>
		<key>open</key>
		<false/>
		<key>subMenus</key>
		<array>
			<dict>
				<key>name</key>
				<string>理财账单</string>
				<key>icon</key>
				<string>menu_collection_06</string>
				<key>className</key>
				<string>FinancialBillsViewController</string>
				<key>blackIcon</key>
				<string>order_icon_101</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>投标记录</string>
				<key>icon</key>
				<string>menu_collection_07</string>
				<key>className</key>
				<string>BidRecordsViewController</string>
				<key>blackIcon</key>
				<string>order_icon_102</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>等待满标</string>
				<key>icon</key>
				<string>menu_collection_08</string>
				<key>className</key>
				<string>FullScaleViewController</string>
				<key>blackIcon</key>
				<string>order_icon_103</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>收款中</string>
				<key>icon</key>
				<string>menu_collection_09</string>
				<key>className</key>
				<string>CollectionViewController</string>
				<key>blackIcon</key>
				<string>order_icon_104</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>已完成</string>
				<key>icon</key>
				<string>menu_collection_10</string>
				<key>className</key>
				<string>CompletedViewController</string>
				<key>blackIcon</key>
				<string>order_icon_105</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>债权管理</string>
				<key>icon</key>
				<string>menu_collection_11</string>
				<key>className</key>
				<string>DebtManagementViewController</string>
				<key>blackIcon</key>
				<string>order_icon_106</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>账户管理</string>
		<key>open</key>
		<false/>
		<key>subMenus</key>
		<array>
			<dict>
				<key>name</key>
				<string>资金记录</string>
				<key>icon</key>
				<string>menu_collection_15</string>
				<key>className</key>
				<string>FundRecordViewController</string>
				<key>blackIcon</key>
				<string>order_icon_202</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>充值</string>
				<key>icon</key>
				<string>menu_collection_16</string>
				<key>className</key>
				<string>MyRechargeViewController</string>
				<key>blackIcon</key>
				<string>order_icon_203</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>提现</string>
				<key>icon</key>
				<string>menu_collection_17</string>
				<key>className</key>
				<string>ZZCashWithdrawalController</string>
				<key>blackIcon</key>
				<string>order_icon_204</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>blackIcon</key>
				<string>order_icon_206</string>
				<key>name</key>
				<string>授信管理</string>
				<key>icon</key>
				<string>menu_collection_22</string>
				<key>className</key>
				<string>DomainsManageController</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
